@import "tailwindcss";

/* bütün səhifədə fərqli cursor */
/* 2. Sadə ağ dairə */
html,
body {

    cursor: url(https://cur.cursors-4u.net/games/gam-14/gam1340.cur), auto !important;

}

/* input və button-larda normal qalsın */
input,
textarea,
button {
    cursor: auto;
}

.gray {
    background-color: #2b2b2b;
}

.font-color {
    color: #a2a2a2;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}